
# all tests
test_*

# vscode config folder
*.vscode

# python complie files
*.pyc

# sqlite database files
*.db

# all nohup out file
*.out

# all csv file
*.csv

# all logs
*.log

# crycompare
*.dict
*.basics

# other folders.

