algopy==0.5.7
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numdifftools==0.9.20
numpy==1.14.3
pandas==0.22.0
patsy==0.5.0
pyflux==0.4.15
pyparsing==2.2.0
PyQt5==5.10.1
pyqtgraph==0.10.0
python-dateutil==2.7.3
pytz==2018.4
pywt==1.0.6
PyYAML==3.12
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
sip==4.19.8
six==1.11.0
sklearn==0.0
torch==0.3.1
tushare==1.1.7
urllib3==1.22
